[Unit]
Description=Asterisk PBX
ConditionPathExists=!/var/lib/wazo/disabled
After=network-online.target postgresql.service wazo-agid.service wazo-confgend.service
Before=monit.service

[Service]
Type=forking
RuntimeDirectory=asterisk
ExecStart=/usr/sbin/asterisk -g -U asterisk
ExecStartPost=/bin/bash -c 'for i in {1..10}; do /usr/sbin/asterisk -rx "core waitfullybooted" &>/dev/null && exit 0; sleep 1; done; exit 1'
ExecReload=/usr/sbin/asterisk -rx 'core reload'
PIDFile=/run/asterisk/asterisk.pid
UMask=0007
WorkingDirectory=/var/spool/asterisk

LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
