[Unit]
Description=Asterisk PBX
ConditionPathExists=!/var/lib/xivo/disabled
After=network-online.target postgresql.service xivo-agid.service xivo-confgend.service
Before=monit.service

[Service]
Type=notify
ExecStart=/usr/sbin/asterisk -g -U asterisk
ExecReload=/usr/sbin/asterisk -rx 'core reload'
PIDFile=/var/run/asterisk/asterisk.pid
UMask=0007
WorkingDirectory=/var/spool/asterisk

LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
