Source: asterisk
Priority: optional
Section: comm
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 autoconf,
 automake,
 autotools-dev,
 cdbs (>= 0.4.123),
 dahdi-linux-dev (>= 2.1.0),
 debhelper (>= 9),
 dh-systemd (>= 1.5),
 freetds-dev,
 libasound2-dev,
 libbluetooth-dev,
 libc-client-dev,
 libcap-dev (>= 1:2.16-4) | libcap2-dev,
 libcurl4-openssl-dev,
 libgsm1-dev,
 libical-dev,
 libiksemel-dev,
 libjansson-dev,
 liblua5.1-dev | liblua5.1-0-dev,
 libneon27-dev,
 libnewt-dev,
 libogg-dev,
 libopenr2-dev,
 libpopt-dev,
 libpq-dev,
 libpri-dev (>= 1.4.7),
 libfreeradius-dev,
 libreadline-dev,
 libresample1-dev,
 libsnmp9-dev | libsnmp-dev,
 libspandsp-dev,
 libspeex-dev (>= 1.1.12-3),
 libspeexdsp-dev,
 libsqlite-dev,
 libsqlite3-dev,
 libsrtp0-dev,
 libss7-dev (>= 2.0),
 libssl-dev,
 libtonezone-dev (>= 1:2.0.0),
 libunbound-dev,
 liburiparser-dev,
 libvorbis-dev,
 libxml2-dev,
 libxslt1-dev,
 lsb-base (>= 3.2-14),
 portaudio19-dev,
 postgresql-server-dev-all,
 python,
 quilt,
 unixodbc-dev,
 uuid-dev,
 wget,
 xmlstarlet,
 zlib1g-dev
Standards-Version: 3.9.6

Package: asterisk
Architecture: any
Section: comm
Replaces: asterisk11
Conflicts: asterisk11
Provides: asterisk11
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, mpg123
Breaks:
 wazo-res-amqp (<< 17.14~),
 wazo-res-stasis-amqp (<< 17.14~),
 xivo-libsccp (<< 17.14~),
 xivo-res-freeze-check (<< 17.14~)
Description: Open Source Private Branch Exchange (PBX) - Wazo version
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX and more) standards,
 or the Public Switched Telephone Network (PSTN) through supported hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) ISDN PRI cards from Digium (http://www.digium.com)
  * HFC-S/HFC-4S-based ISDN BRI cards (Junghanns.NET, beroNet, Digium etc.)
  * All TDM (FXO/FXS) cards from Digium
  * Various clones of Digium cards such as those by OpenVox
  * Xorcom Astribank USB telephony adapter (http://www.xorcom.com)
  * Voicetronix OpenPCI, OpenLine and OpenSwitch cards
  * CAPI-compatible ISDN cards (using the add-on package chan-capi)
  * Full Duplex Sound Card (ALSA or OSS) supported by Linux
  * Tormenta T1/E1 card (http://www.zapatatelephony.org)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
 .
 This software was heavily patched by Debian and Proformatique.
 .
 This Debian package contains the classic Asterisk binary.
 .
  Homepage: http://www.asterisk.org.

Package: asterisk-dbg
Architecture: any
Section: comm
Priority: extra
Replaces: asterisk11-dbg
Conflicts: asterisk11-dbg
Provides: asterisk11-dbg
Depends: ${misc:Depends}, asterisk (= ${binary:Version})
Description: Open Source Private Branch Exchange (PBX) - Wazo version
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX and more) standards,
 or the Public Switched Telephone Network (PSTN) through supported hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) ISDN PRI cards from Digium (http://www.digium.com)
  * HFC-S/HFC-4S-based ISDN BRI cards (Junghanns.NET, beroNet, Digium etc.)
  * All TDM (FXO/FXS) cards from Digium
  * Various clones of Digium cards such as those by OpenVox
  * Xorcom Astribank USB telephony adapter (http://www.xorcom.com)
  * Voicetronix OpenPCI, OpenLine and OpenSwitch cards
  * CAPI-compatible ISDN cards (using the add-on package chan-capi)
  * Full Duplex Sound Card (ALSA or OSS) supported by Linux
  * Tormenta T1/E1 card (http://www.zapatatelephony.org)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
 .
 This software was heavily patched by Debian and Proformatique.
 .
 This package contains gdb debugging symbols for the classic Asterisk binary.
 .
  Homepage: http://www.asterisk.org.

Package: asterisk-dev
Architecture: all
Recommends: asterisk
Section: devel
Depends: ${misc:Depends}
Description: development files for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX and more) standards,
 or the Public Switched Telephone Network (PSTN) through supported hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) ISDN PRI cards from Digium (http://www.digium.com)
  * HFC-S/HFC-4S-based ISDN BRI cards (Junghanns.NET, beroNet, Digium etc.)
  * All TDM (FXO/FXS) cards from Digium
  * Various clones of Digium cards such as those by OpenVox
  * Xorcom Astribank USB telephony adapter (http://www.xorcom.com)
  * Voicetronix OpenPCI, OpenLine and OpenSwitch cards
  * CAPI-compatible ISDN cards (using the add-on package chan-capi)
  * Full Duplex Sound Card (ALSA or OSS) supported by Linux
  * Tormenta T1/E1 card (http://www.zapatatelephony.org)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
 .
 This software was heavily patched by Debian and Proformatique.
 .
 This package contains the include files used if you wish to compile a
 package which requires asterisk source file headers.
 .
  Homepage: http://www.asterisk.org.

Package: asterisk-doc
Architecture: all
Recommends: asterisk
Section: doc
Depends: ${misc:Depends}
Description: Source code documentation for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the documentation for configuring an Asterisk system.
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX and more) standards,
 or the Public Switched Telephone Network (PSTN) through supported hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) ISDN PRI cards from Digium (http://www.digium.com)
  * HFC-S/HFC-4S-based ISDN BRI cards (Junghanns.NET, beroNet, Digium etc.)
  * All TDM (FXO/FXS) cards from Digium
  * Various clones of Digium cards such as those by OpenVox
  * Xorcom Astribank USB telephony adapter (http://www.xorcom.com)
  * Voicetronix OpenPCI, OpenLine and OpenSwitch cards
  * CAPI-compatible ISDN cards (using the add-on package chan-capi)
  * Full Duplex Sound Card (ALSA or OSS) supported by Linux
  * Tormenta T1/E1 card (http://www.zapatatelephony.org)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
 .
  This package contains the documentation for configuring an Asterisk system.
 .
  Homepage: http://www.asterisk.org.

Package: asterisk-sounds-main
Architecture: all
Enhances: asterisk
Section: comm
Depends: ${misc:Depends}
Description: sound files for asterisk
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX and more) standards,
 or the Public Switched Telephone Network (PSTN) through supported hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) ISDN PRI cards from Digium (http://www.digium.com)
  * HFC-S/HFC-4S-based ISDN BRI cards (Junghanns.NET, beroNet, Digium etc.)
  * All TDM (FXO/FXS) cards from Digium
  * Various clones of Digium cards such as those by OpenVox
  * Xorcom Astribank USB telephony adapter (http://www.xorcom.com)
  * Voicetronix OpenPCI, OpenLine and OpenSwitch cards
  * CAPI-compatible ISDN cards (using the add-on package chan-capi)
  * Full Duplex Sound Card (ALSA or OSS) supported by Linux
  * Tormenta T1/E1 card (http://www.zapatatelephony.org)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
 .
 This software was heavily patched by Debian and Proformatique.
 .
 This package contains the default sound files for operation of asterisk
 .
  Homepage: http://www.asterisk.org.
